<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!--  ******************** Gazebo ********************  -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="paused" value="true"/>
  </include>

  <!-- Translate model from xacro to URDF -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find manipulator_description)/urdf/manipulator.xacro'" />

  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>

  <!-- Spawn the URDF robot into Gazebo. Notice the argument of -param robot_description -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -x $(arg x) -y $(arg y) -z $(arg z) -model manipulator" />

</launch>
