<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="revolute_joint" params="name type axis_xyz origin_rpy origin_xyz parent child limit_e limit_l limit_u limit_v">
    <joint name="${name}" type="${type}">
      <axis xyz="${axis_xyz}" />
      <limit effort="${limit_e}" lower="${limit_l}" upper="${limit_u}" velocity="${limit_v}" />
      <origin rpy="${origin_rpy}" xyz="${origin_xyz}" />
      <parent link="${parent}" />
      <child link="${child}" />
    </joint>
  </xacro:macro>

  <xacro:macro name="cylinder_link" params="name origin_xyz origin_rpy radius length mass ixx ixy ixz iyy iyz izz">
    <link name="${name}">
      <inertial>
        <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
        <mass value="${mass}"/>
        <inertia ixx="${ixx}"  ixy="${ixy}"  ixz="${ixz}" iyy="${iyy}" iyz="${iyz}" izz="${izz}" />
      </inertial>

      <visual>
        <origin rpy="${origin_rpy}" xyz="${origin_xyz}" />
        <geometry>
          <cylinder radius="${radius}" length="${length}" />
        </geometry>
      </visual>

      <collision>
        <origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
        <geometry>
          <cylinder radius="${radius}" length="${length}" />
        </geometry>
      </collision>
    </link>
  </xacro:macro>

  <xacro:macro name="box_link" params="name origin_xyz origin_rpy size mass ixx ixy ixz iyy iyz izz">
    <link name="${name}">
      <inertial>
        <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
        <mass value="${mass}"/>
        <inertia ixx="${ixx}"  ixy="${ixy}"  ixz="${ixz}" iyy="${iyy}" iyz="${iyz}" izz="${izz}" />
      </inertial>

      <visual>
        <origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
        <geometry>
          <box size="${size}" />
        </geometry>
      </visual>

      <collision>
        <origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
        <geometry>
          <box size="${size}"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>

</robot>
